<div class="card">
    <div class="card-body">
        <h5 class="card-title"> <a routerLink='/product/{{product.id}}'>  {{product.name}}</a>  <span class="badge badge-warning">  {{product.price}}$</span> </h5>
      <p class="card-text"> {{product.description}} </p>
    </div>
  </div>