<div class="container">
  <div *ngIf="product; else notFound">
    <h2>Product Page</h2>
    <div *ngIf="messages.length!=0">
      <div *ngFor="let message of messages" class="alert alert-primary" role="alert">
        {{message}} <button (click)="clearMessages()" class="btn btn-primary btn-sm float-right">clear</button>
      </div>
    </div>
    <div class="row details">
      <div class="col-xs-12 col-sm-md-lg-6">
        <img class="img-thumbnail float-left" src="assets/mock-img.svg" alt="pic">
      </div>
      <div class="col-xs-12 col-sm-md-lg-6">
        <h2>{{product.name}}</h2>
        <h6>
          {{product.description}}
        </h6>
        <button (click)="addItem(product)" class="btn btn-lg btn-primary">buy for {{product.price}}$</button>
      </div>
    </div>
    <button (click)="goBack()" class="btn btn-light">go back</button>
  </div>
  <ng-template #notFound>
    <h2>Oops, not found...</h2>
  </ng-template>
</div>