<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="catalog">{{ title }}</a>
    <ul class="nav justify-content-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Categories</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" (click)='getCatalog(All)'
            routerLink='catalog/All'>All</a> <!--manual adding for 'all' categories--> 

          <a *ngFor="let cat of categories" class="dropdown-item" (click)='getCatalog(cat.name)'
            routerLink='catalog/{{cat.name}}'>{{cat.name}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink='cart' class="nav-link active">Cart</a>
      </li>
    </ul>
  </div>


</nav>