<div class="container">
  <h2 class="text-center">Your Cart</h2>

  <table *ngIf="items.length!=0; else emptyCart" class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.product.name}}</td>
        <td>{{item.product.price}}</td>
        <td>{{item.quantity}}</td>
        <td><button (click)="removeItem(item)" type="button" class="btn btn-danger">X</button></td>
      </tr>
    </tbody>
  </table>
  <ng-template #emptyCart>
      <h2 class="text-center">no products yet</h2>
  </ng-template>
</div>