<div class="container catalog-body">
  <h3 class="text-center">Catalog</h3>

  <div class="row card-group">
    <div *ngFor="let currentProd of products" class="col-lg-3 col-xs-1 col-sm-6">
      <app-product-card [product]="currentProd"></app-product-card>
    </div>
  </div>
</div>